<h1>Okta Integration</h1>
<%= link_to "Authenticate Okta", oauth_authenticate_okta_path %>
<br>
<table>
  <th>
    <td>
      Authentication Name
    <td>
    <td>
      Created At
    <td>
    <td>
      Updated At
    <td>
  </th>
</table>

